[tool.black]
line-length = 120
target-version = ["py311"]
include = '\.py$'
exclude = '''
/(
    venv
  | migrations
  | __pycache__
  | htmlcov
)/
'''

[tool.isort]
profile = "black"
line_length = 120
src_paths = ["src", "tests"]